*, *::before, *::after {
    box-sizing: border-box;
}

*:not(dialog){
    margin: 0;
}

@media (prefers-reduced-motion: no-preference){
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

.site-container {
    max-width: 1200px;
    margin: 0 auto;
}

.site-container > * {
    padding-left: 1rem;
    padding-right: 1rem;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6, li {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

.nav-menu {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: bisque;
}

.nav-menu li {
    z-index: 1;
}

.nav-menu::after {
    content: "";
    position: absolute;
    background-color: bisque;
    width: 100vw;
    inset: 0;
    margin-left: calc(50% - 50vw);
}

.main-hero {
    position: relative;
    z-index: 2;
}

.main-hero::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100vw;
    background-image: url('images/proposal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: calc(50% - 50vw);
    z-index: -1;
}

.main-hero__content {
    background-color: rgba(0, 0, 0, 0.137)
}