*, *::before, *::after {
    box-sizing: border-box;
}

*:not(dialog){
    margin: 0;
    padding: 0;
}

@media (prefers-reduced-motion: no-preference){
    html {
        interpolate-size: allow-keywords;
    }
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

body {
    background-color: #FDF5EC;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

.site-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.site-container > * {
    padding-left: 1rem;
    padding-right: 1rem;
}

img, picture, video, canvas, svg {
    /* display: block; */
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6, li {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

.nav-menu {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style-type: none;
    padding: 1rem 0rem 1rem 0rem;
    margin: 0;
    justify-content: space-between;
}

.nav-menu li {
    z-index: 1;
}

.nav-menu::after {
    content: "";
    position: absolute;
    background-color: white;
    width: 100vw;
    height: 10%;
    margin-left: calc(50% - 50vw);
    z-index: 999;
}

.main-hero {
    position: relative;
}

.main-hero::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100vw;
    background-image: url('images/proposal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: calc(50% - 50vw);
    z-index: -1;
}

.main-hero__inner {
    position: relative;
    z-index: 2;
    height: 600px;
    padding: 0;
}

.main-hero__inner::before {
    position: absolute;
    content: "";
    background-image: url(images/Traditional-corner-ornament-filtered.png);
    background-repeat: no-repeat;
    right: 0;
    top: 0%;
    height: 600px;
    width: 600px;
    transform: rotate(180deg);
    z-index: 998;
    opacity: 100%;
}

.main-hero__inner::after {
    position: absolute;
    content: "";
    background-image: url('images/Traditional-corner-ornament-filtered.png');
    background-repeat: no-repeat;
    left: 0;
    top: 0%;
    height: 600px;
    width: 600px;
    transform: rotateX(180deg) rotateY(0deg);
    z-index: 998;
    opacity: 100%;
}

.main-hero__inner--content {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    text-align: center;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    margin-top: 2rem;
    z-index: 999;
}

.content-area-1 {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
}

.content-area-1 div {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 50%;
}

.content-area-1__left img {
    clip-path: 
    shape(
      from 50% 91%,
      line to 90% 50%,
      arc to 50% 9%  of 1%,
      arc to 10% 50% of 1%
    );
    aspect-ratio: 1;
}

@media (min-width: 1025px){
    p {
        font-size: 1.25rem;
    }
    li {
        font-size: 1.5rem;
    }
    .nav-menu li {
        z-index: 1;
        padding: 1rem 2rem 3rem 2rem;
        clip-path: polygon(50% 0%, 100% 0%, 100% 25%, 50% 100%, 0% 25%, 0% 0%);
    }

    .nav-menu li:first-child {
        background-color: rgba(255, 121, 121, 0.9);
    }

    .nav-menu li:nth-child(2){
        background-color: rgba(255, 217, 146, 0.9);
    }

    .nav-menu li:nth-child(3){
        background-color: rgba(255, 255, 148, 0.9);
    }

    .nav-menu li:nth-child(4){
        background-color: rgba(150, 255, 150, 0.9);
    }

    .nav-menu li:last-child {
        background-color: rgba(197, 197, 255, 0.9);
    }
}

@media (max-width: 1024px){
    .nav-menu {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style-type: none;
        padding: 1rem 0rem 1rem 0rem;
        margin: 0;
        justify-content: space-between;
    }
    .nav-menu::after {
        content: "";
        position: absolute;
        background-color: #FDF5EC;
        width: 100vw;
        inset: 0;
        margin-left: calc(50% - 50vw);
        height: 100%;
        z-index: 0;
    }
    .main-hero__inner {
        overflow: hidden;
        position: relative;
    }
    .main-hero__inner::before {
        top: 50%;
        left: 0;
        transform: none;
        width: auto;
    }

    .main-hero__inner::after {
        top: 50%;
        right: 0;
        transform: rotateY(180deg);
        width: auto;
    }
    .content-area-1 {
        flex-direction: column;
        flex-direction: column-reverse;
    }
}